@charset "UTF-8";

/* 共通 */


.inner {
  width: 1100px;
  margin: 0 auto;
}

body {
  font-family: 'lato',sans-serif;
}

.is-raleway {
  font-family: 'raleway',sans-serif;
}

/* 共通 */


/* header */

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.header--button {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  padding:14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: color 0.3s;
  cursor: pointer;
}

.header--button:hover {
  color: #333;
}

.fas.fa-bolt {
  font-size: 40px;
  color: #4e4e4e;
}

/* header */


/* main */

.main {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* main */


/* section */

.phone__block {
  background-color: #74cfae;
  font-size: 0;
  padding-top: 50px;
}

.phone-inner {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

.iphone {
  width: 45%;
}

.phone__block--text {
  display: inline-block;
  width: 55%;
  text-align: center;
}

.phone-title {
  color: #fff;
  font-size: 24px;
}

.phone-text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
}


/* section */


/* article */

.box__block {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.box-title {
  font-size: 24px;
  text-align: center;
}

.box-inner {
  font-size: 0;
}

.box--text {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.box__block--text {
  font-size: 20px;
  text-align: center;
  width: 53%;
}

.box--button {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  background-color: #74cfae;
  padding: 14px 20px;
  color: #fff;
  transition: color 0.3s;
  cursor: pointer;
  margin-left: 90px;
}

.box--button:hover {
  color: #333;
}


.box_our-latest-works {
  font-size: 0;
  margin-top: 40px;
}

.our-latest-work_img {
  display: inline-block;
  margin-left: 100px;
  margin-top: 80px;
  transition: all 0.3s;
  opacity: 0.7;
  cursor: pointer;
}

.our-latest-work_img:hover {
  opacity: 1;
}

.our-latest-work_img:nth-child(3n+1) {
  margin-left: 0;
}

.our-latest-work_img:nth-child(-n+3) {
  margin-top: 0;
}


/* article */

/* section */

.circle__block {
  background-color: #4e4e4e;
  font-size: 0;
  padding-top: 70px;
  padding-bottom: 100px;
}

.circle-inner {
  text-align: center;
}

.circle-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.circle_our-skills {
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

.our-skill_img {
  display: inline-block;
  color: #fff;
  margin-left: 180px;
}

.our-skill_text {
  margin-top: 20px;
  font-size: 16px;
}

.our-skill_img:first-child {
  margin-left: 0;
}

/* section */

/* nav */

.nav__block {
  font-size: 0;
  background-color:#f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.nav-inner {
  display: flex;
  justify-content: center;
}

.sns--icon {
  font-size: 40px;
  line-height: 100px;
  color: #74cfae;
  width: 185px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sns--icon:hover {
  background-color: #fff;
}

/* nav */

/* foooter */

.footer__block {
  background-color: #74cfae;
  padding: 20px 25px;
}

.footer-inner {
  text-align: right;
  color: #fff;
}

/* foooter */


@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  /* header */
  /* header */

  /* section */

  .phone__block {
    padding-bottom: 25px;
    text-align: center;
  }

  .phone-inner {
    line-height: 1.5;
    display: block;
    text-align: center;
  }
  
  .iphone {
    width: 100%;
  }

  .phone__block--text {
    width: 95%;
  }
  
  .phone-title {
    margin-top: 20px;
  }

  /* section */
  
  /* article */

  .box__block {
    text-align: center;
  }

  .box--text {
    display: block;
    margin-top: 0;
  }
  
  .box__block--text {
    margin: 0 auto;
    width: 100%;
    margin-top: 80px;
  }
  
  .box--button {
    padding: 14px 20px;
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
    margin-left: 0;
    margin-top: 40px;
  }
  
  .box--button:hover {
    color: #333;
  }
  
  
  .box_our-latest-works {
    font-size: 0;
    margin-top: 40px;
  }
  
  .our-latest-work_img {
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    transition: all 0.3s;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .our-latest-work_img:hover {
    opacity: 1;
  }
  
  .our-latest-work_img:nth-child(3n+4) {
    margin-top: 80px;
  }
  
  /* article */

  /* section */

  .circle-inner {
    text-align: center;
  }

  .circle_our-skills {
    display: block;
    margin-top: 45px;
    justify-content: center;
  }

  .our-skill_img {
    display: block;
    margin-top: 88px;
    margin-left: 0;
  }

  .our-skill_img:first-child {
    margin-left: 0;
  }

  /* section */

}

@media screen and (max-width: 767px) {

  /*header*/
  /*header*/


  /*main*/
  
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  
  .theme-title {
    font-size: 80px;
  }
  
  .theme-text {
    font-size: 30px;
  }
  
  /*main*/


  /*nav*/

  .nav__block {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nav-inner {
    display: block;
    text-align: center;
  }
  
  .sns--icon {
    display: block;
    font-size: 40px;
    line-height: 100px;
    width: 100vw;
  }

  /*nav*/

}